@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.font-1 {
    font-family: "Roboto";
}

.font-2 {
    font-family: "PT Serif";
}

 h1, h2, h3 {
    font-family: "Roboto";
}

p {
    font-family: "PT Serif";
}

#content {
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);

}


header {
    text-align: center;
    padding: 5px 5px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
    background-color: #2874A6;
    color: white;
}

img {
    max-width: 200px;
}


nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li a {
    font-size: 1.5em;
    padding: 0.3em;
    color: whitesmoke;
    text-decoration: none;
    margin: 0 6px;
    z-index: 1;
    font-weight: 500;
    position: relative;
    font-family: "PT Serif";
}

nav a:hover {
    background-color: white;
    color: grey;
  }

footer {
    background-color: #2874A6;
    text-align: center;
    padding: 5px 5px;
    color:whitesmoke;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

footer a {
    color: white;
}

.primary-color {
    background-color:#2874A6 ;
}

.secondary-color {
    background-color: #86A397 ;
}

.accent-1 {
    background-color:#B1B695
}

.accent-2 {
    background-color: #D17A22 ;
}


@media only screen and (min-width: 450px) {

    header, footer {
        border-radius: 15px;
    }
    
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    }
    
    
    @media only screen and (min-width: 300px) {
    
        body {
            font-size: 16px;
            font-family: 'PT Serif', sans-serif;
            line-height: 1.5;
            margin: 1.25rem auto;
            max-width: 850px;
        }
    }    