@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

table {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 15px #333;
    font-family: "Ubuntu", sans-serif;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgrey;
    text-align: center;
}


th, td {
    padding: 5px;
}

thead {
    font-size: 2em;
}

thead, tfoot {
    background-color: #7fb9c2;
}

tfoot {
    font-size: .85em;
}

tbody th {
    background-color: #628ca6;
    color: white;
    font-size: 1.2em;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(6) td:first-child {
    font-style: italic;
}

tbody tr:nth-child(6) td:last-child {
    text-align: center;
}