@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

   
   
   /*Small*/
body {
    padding: 10px;

}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #2874A6;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navigation a:hover {
    color: grey;
    background-color: white;
}

.responsive li {
    display: block;
}

.logo {
    background-color: white;
    border-radius: 50px 50px 0 0;
    padding: 0.5em;
    width: 80px;
}

.slogan {
    font-family: "PT Serif";
}

h1 {
    text-align: center;
}

.main-container {
    max-width: 100%;
   
}

 main h3 {
    background-color: lightgray;
    padding: 10.5px;
}

footer {
    background-color: #2874A6;
    text-align: center;
    padding: 5px 5px;
    color: whitesmoke;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

footer a {
    color: white;
}


/*Large*/

@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}

footer {
    background-color: #2874A6;
    text-align: center;
    padding: 5px 5px;
    color: whitesmoke;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

footer a {
    color: white;
}

#content {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: #2874A6;
    text-align: center;
    padding: 5px 5px;
    color: whitesmoke;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}    

main h3 {
    background-color: lightgray;
    padding: 10px;
}    