@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Pueblito Div CSS*/

section {
    background-color: #F0F8EA;
    padding-bottom: 20px;
    border-style: groove;
    margin-bottom: 5px;
}

h3 {
    font-size: .9em;
}

h1 {
    font-size: 2em;
}

h1, h3, footer {
    font-family: 'Roboto', sans-serif;
}

h1, h3, p, footer {
    text-align: center;
}

img {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    box-shadow: 0 0 15px #333;
}

/*Header CSS (Includes Nav)*/

header {
    text-align: center;
    padding: 5px 5px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
    background-color: #2874A6;
    color: white;
    margin-bottom: 10px;
}

header h1 {
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li a {
    font-size: 1.5em;
    padding: 0.3em;
    color: whitesmoke;
    text-decoration: none;
    margin: 0 6px;
    z-index: 1;
    font-weight: 500;
    position: relative;
    font-family: "PT Serif";
}

nav a:hover {
    background-color: white;
    color: grey;
  }

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}

/*Footer CSS*/

footer {
    background-color: #2874A6;
    text-align: center;
    padding: 5px 5px;
    color:whitesmoke;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

footer a {
    color: white;
}

/*Medium View*/

/*@media screen and (min-width: 550px) and (max-width: 600px) {

section {
    max-width: 600px;
    margin: .5rem auto;
    border:1px solid #bbb;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;

}*/

/*Large View*/

@media screen and (min-width: 900px) {

.pueblito {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    position: relative;
    gap: 5px;
}

section {
    max-width: 350px;
    padding: 10px;
}

section:first-child {
    grid-column: 1/3;
    justify-self: end;
    width: 300px;
}

section:first-child img {
    max-width: 275px;
}

section:nth-child(2) {
    grid-column: 3/4;
}

section:nth-child(2) img {
    max-width: 250px;
}

section:last-child {
    grid-column: 4/6;
    justify-self: start;
}

section:last-child img {
    max-width: 230px;
}

.pueblito img {
    margin-top: 60px;
}

.navigation {
    display: flex;
}
.navigation li {
    display: block;
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}


}
