

body {
    display: grid;
    justify-items: center;
}

#content {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "raleway", sans-serif;

    color: white
}

h1 {
    font-weight: bold;
}

p {
    font-family: "PT Sans", sans-serif;
}

.top-div p,
.top-div a {
    font-size: 1.2rem;
    padding: 5px;
}

a {
    color: #0426b5;
}

header,
footer {
    text-align: center;
    background-color: #000d5b;
    padding: 25px;
    color: white;
}

header a,
footer a {
    color: white;
}




.img-1 img {
    width: 100%;
}

.content-box {
    /* width: 460px; */
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 15px;
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 5px 30px -10px black;

}

.content-box h3 {
    background-color: #677ca0;
    padding: 20px 15px;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.site-div {
    /* width: 425px; */
    width: 90%;
    height: 800px;
    margin: 0 auto;

}

.bottom-border {
    background-color: #677ca0;
    padding: 20px;
    border-radius: 0 0 15px 15px;

}

.description p {
    padding: 10px 20px;
    font-size: 1.2em
}

.description {

    padding: 10px 0;
}

.top-div {

    padding: 10px 15px;
    margin: 0;

}

#sections-container {
    max-width: 80%;
    margin: 0 auto;
}

p {
    margin: 0;
}

/*medium*/
@media only screen and (min-width:45em) {
    #sections-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

}

/*large*/
@media only screen and (min-width:70em) {
    #sections-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}