@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

   
   
   /*Small*/

.pancakes {
    display: none;
    text-align: center;
    font-size: 15px;
}
   
body {
    padding: 10px;
}

header {
    background-color: #1F5673;
    text-align: center;
    padding: 5px 5px;
    color: white;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #2874A6;
    border-radius: 40px;
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

p {
    font-family: "PT Serif";
}

.pueblito section {
    background-color: #F0F8EA;
    padding-bottom: 20px;
    border-style: groove;
    margin-bottom: 5px;
    margin-top: 10px;
}

h3 {
    font-size: .9em;
}

h1 {
    font-size: 2em;
}

h1, h3, footer {
    font-family: 'Roboto', sans-serif;
}

h1, h3, p, footer {
    text-align: center;
}

section img {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    box-shadow: 0 0 15px #333;
}


/*start nav layout*/

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}

.navigation a:hover {
    color: grey;
    background-color: white;
    border-radius: 40px;
}

.responsive li {
    display: block;
}

/*end nav layout*/

.logo {
    background-color: white;
    border-radius: 50px 50px 0 0;
    padding: 0.5em;
    width: 80px;
    justify-self: center;
    
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;

}

.slogan {
    font-family: "PT Serif";
    font-size: small;
    grid-area: 2/1/4/3;
}

.site-name {
    justify-self: end;
    align-self: start;
}

.main-container {
    max-width: 100%;
   
}

footer {
    background-color: #1F5673;
    text-align: center;
    padding: 5px 5px;
    color: whitesmoke;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

footer a {
    color: white;
}

.hero-img {
    width: 100%;
}

.article-img {
    width: 100%;
}

.article {
    margin-top: 75px;
}

.herodiv {margin: 10px auto;position: relative;}
h2, p {margin: 0;}

.weather-summary {
	position: absolute;
	top: 25px;
	left: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1rem;
	box-shadow: 0 0 30px #111;
	opacity: .85;
}

.forecast {
    display: none;
}

iframe {
    width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }



/*Large*/

@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    #content {
        max-width: 960px;
        margin: 0 auto;
    }

    footer {
        padding: 10px;
    }
    
    nav a {
        max-width: 100%;
    }
    
    .logo {
        justify-self: end;
        margin-right: 150px;   
        width: 120px;
    }
    
    .header-grid {
        grid-template-rows: 90px 25px;
    }
    
    .site-name {
        justify-self: start;
        align-self: end;
        margin-left: -100px;
        margin-bottom: -10px;
    }

    .weather-summary {
        left: 100px;
    }

    picture img {
        max-width: 800px;
        display: block;
        height: 400px;
        margin: 0 auto;
    }
    
    .hero-img {
        width: 100%;
        
    }

    .forecast {
        display: unset;
       
    }

    .forecast h2 {
        text-align: center;
        
    }

    table {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
        box-shadow: 5px 10px 15px #333;
        font-family: 'PT Serif', sans-serif;
        border-collapse: collapse;
    }
    
    th, td {
        border: 1px solid black;
        align-self: center;
        padding: 15px;
    }

    tbody tr:first-child {
        color: white;
        background-color: #2874A6;
        font-size: 1.5em;
    }
    
    main h1 {
        text-align: center;
    }


    .hero-img {
        width: 100%;
    }

    .article-img {
        width: 40%;
        float: right;
    }

    .active {
        color: grey;
        background-color: #1F5673;
        border-radius: 40px;
    }

    .contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 50px;
        margin-bottom: 20px;
        background-color: #2874A6;
        border: solid;
        color: white;
        padding: 20px;
        border-radius: 40px;
        box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
        align-items: center;
        justify-items: center;
    
    }

    .social {
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: center;

    }

    .info {
        grid-area: 2/2/3/3;
    }

    .contact-header {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 1.2em;
    }
    
    iframe {
        display: block;
        width: 500px;
        height: 300px;
        margin: 0 auto;
        grid-column: 1/2;
        grid-row: 1/4;
       
    }

    .pueblito {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        gap: 5px;
    }
    
    .pueblito section {
        max-width: 350px;
        padding: 10px;
    }
    
    .pueblito section:first-child {
        grid-column: 1/3;
        justify-self: end;
        width: 300px;
    }
    
    .pueblito section:first-child img {
        max-width: 275px;
    }
    
    .pueblito section:nth-child(2) {
        grid-column: 3/4;
    }
    
    .pueblito section:nth-child(2) img {
        max-width: 250px;
    }
    
    .pueblito section:last-child {
        grid-column: 4/6;
        justify-self: start;
    }
    
    .pueblito section:last-child img {
        max-width: 230px;
    }
    
    .pueblito img {
        margin-top: 60px;
    }
    
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

   
    
    
    


}







